.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  position: absolute;
  left: 50%;
  right: 50%;
  top: 30%;
  bottom: 50%;
}

.nav a {
  font-family: var(--font-primary);
  font-size: 3rem;

  text-decoration: none;
}