.main {
  width: 100%;

  margin: 0 auto;
  padding: 2rem;
  
  border: 1px solid var(--blue-secondary);
}

.photo {
  width: 100%;
  height: 100%;

  margin-bottom: 0.8rem;
}

.name {
  font-size: 3.2rem;
  font-family: var(--font-title);
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.stack {
  height: 3rem;
  
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-title);
}

.line {
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid var(--blue-secondary);
}

.description {
  font-size: 1.6rem;
  font-weight: 300;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 2rem 0 2rem;
}

@media (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;

    width: 100%;
    height: 100%;
    padding: 0;
    border: none;

    .blur {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: auto;
      margin-top: 12px;

      background-color: black;
    }

    .photo {
      width: 100%;
      height: fit-content;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 60%;
      z-index: 2;
      padding: 4rem;
    }

    .name {
      font-size: 4rem;
    }

    .stack {
      font-size: 2rem;
    }

    .line {
      display: none;
    }

    .description {
      font-size: 1.4rem;
      font-weight: 300;

      width: 90%;
      margin-top: 4rem;
    }

    .social {
      justify-content: flex-start;
      gap: 2rem;

      margin-top: 2rem;
    }
  }
}