.container {
  width: 95%;
  height: fit-content;
  padding: 1rem;
  margin: 0 auto;

  border: 1px solid var(--blue-500);

  .image {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .title {
    font-family: var(--font-title);
    font-size: 1.4rem;
    font-weight: 500;

    margin: 1rem 0 0.4rem;
    color: var(--yellow-500);
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 1rem;

    .tags {
      font-weight: 600;
      text-decoration: underline;

      width: 60%;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 6rem;
      height: 2.4rem;

      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;

      background-color: var(--yellow-500);
      color: black;
    }
  }

  @media (min-width: 1024px) {
    width: 28%;
    height: fit-content;

    .title {
      font-size: 1.75rem;
      margin: 1rem 0;
    }

    .bottom {
      margin-top: 2rem;

      .button {
        width: 8rem;
        transition: ease-in-out 400ms;

        &:hover {
          background-color: var(--blue-100);
          color: var(--white-500);
        }
      }
    }
  }
}