@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Nova+Square&family=Offside&display=swap');

:root {
  --blue-primary: #091689;
  --blue-secondary: #3678F6;
  
  --bg-black-700: #201D1D;
  --bg-black-800: #151414;
  --bg: #010E18;
  
  --border-blue: #6E7CFC;

  --white: #FFFFFF;
  --yellow: #FAFF00;

  --font-text: 'Nova Square', sans-serif;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;

  color: var(--white);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg);
}

.overflow-hidden {
  overflow: hidden;
}