.card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;

  border: 1px solid var(--blue-secondary);
}

.card .button img {
  max-width: 5rem;
  max-height: 5rem;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .card {
    width: 7rem;
    height: 7rem;
  }
  
  .card a img {
    width: 6rem;
    height: 6rem;
  }
}