.card, .cardLink {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;

  border: 1px solid var(--blue-secondary);
  transition: all 400ms;
}

.imageLink, .image {
  max-width: 5rem;
  max-height: 5rem;
  object-fit: contain;
}

.cardLink:hover {
  box-shadow: 0 0 24px 1px #FFFFFF, 0 0 1px 1px #FFFFFF inset;
}

@media(min-width: 1024px) {
  .card {
    width: 8.4rem;
    height: 8.4rem;
  }
  
  .image {
    max-width: 6.4rem;
    max-height: 6.4rem;
    object-fit: contain;
  }
}