@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Nova+Square&family=Offside&display=swap');

:root {
  --blue-800: #0A0F3D;
  --blue-500: #091689;
  --white-500: #FFFFFF;

  --black-700: #201D1D;
  --black-800: #151414;

  --yellow-500: #FAFF00;
  --blue-100: #3678F6;

  --font-title: 'Nova Square', sans-serif;
  --font-subtitle: 'Mulish', sans-serif;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: var(--white-500);
}