.main {
  width: 100%;
  height: 100vh;

  font-family: var(--font-subtitle);

  .menu {
    position: absolute;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100vh;

    background-color: #000000b0;
  }

  .profile {
    margin: 1.4rem 0;
  }

  .projects {
    margin: 1rem 0 2rem;
  }
}