.main {
  width: 100%;
  min-height: 100vh;

  font-family: var(--font-subtitle);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 12rem);
}

.menu {
  position: absolute;
  top: 0;
  z-index: 1;

  width: 100%;
  min-height: 100vh;

  background-color: rgba(0, 0, 0, 0.80);
}

.profile {
  padding: 1rem 0;
}

.projects {
  padding: 1rem 0;
}

@media (min-width: 1024px) {
   

    .projects {
      padding: 1rem 0 4rem;
    }
}