.card {
  display: flex;
  align-items: center;

  width: 4.25rem;
  height: 4.25rem;

  padding: 0.6rem;
  border: 1px solid var(--blue-secondary);
}

.card a img {
  width: 3rem;
  height: 3rem;
}

.card img {
  width: 3rem;
}

@media (min-width: 768px) {
  .card {
    width: 5.2rem;
    height: 5.25rem;
  }

  .card a img {
    width: 4rem;
    height: 4rem;
  }
  
  .card img {
    width: 4rem;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 5.25rem;
    height: 5.25rem;
  }
  
  .card a img {
    width: 4rem;
    height: 4rem;
  }
  
  .card img {
    width: 4rem;
  }
}