.main {
  width: 95%;

  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--blue-500);

  .photo {
    width: 100%;
    height: 100%;

    margin-bottom: 0.8rem;
  }

  .name {
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  .stack {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-title);
  }

  .line {
    margin: 1rem 0;
    border: 1px solid var(--blue-500);
  }

  .description {
    font-weight: 400;
  }

  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
  }
}